@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Montserrat:ital,wght@0,300;1,300&display=swap");

/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal; 
}*/

/* .carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
} */

body {
  background-color: #ffffff;
  color: #968e85;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
  text-align: center;
}

.portada {
  height: 100vh;
  overflow: hidden;
  color: white;
}

.portada::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/portadaJD_900.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

.portada-contenido {
  display: contents;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px black;
}

.musica {
  padding-top: 5%;
  width: 100%;
  font-size: small;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px 4px black;
}

.logo {
  z-index: 1;
  height: 40%;
  padding-top: 5%;
  filter: drop-shadow(2px 2px 4px black);
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contador-titulo {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.contador-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador-item {
  text-align: center;
  margin: 0 15px;
}

.contador-item span:first-child {
  font-size: 48px;
  font-weight: bold;
  display: block;
}

.label {
  font-size: 10px;
}

.versiculo {
  background-color: #ffcab1;
  font-size: 18px;
  padding: 10% 0;
}

.versiculo-texto {
  max-width: 600px;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.icono-biblia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.participantes {
  flex-direction: row;
  padding: 10% 5%;
}

.participantes-titulo {
  font-size: 16px;
  font-weight: normal;
  font-size: medium;
  text-align: center;
  padding-bottom: 10px;
}

.novios {
  font-family: "Carattere", cursive;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.invitacion {
  background-color: #c1d7ae;
  padding: 10% 5%;


}

.waze-icono {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubicacion-waze {
  background-color: #ecdcb0;
  border: none;
  color: #968e85;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
}

.ubicacion-waze:hover {
  transform: scale(1.1);
}

.collage img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vestimenta {
  padding: 10% 20%;
  display: grid;
  background-color: #FFCAB1;
  justify-content: center;
  align-items: center;
}


.icono-regalo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regalos {
  padding: 38px 10%;
  background-color: white;
}

.link-boton {
  background-color: #ecdcb0;
  border: none;
  color: #968e85;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 22px;
}

.link-boton:hover {
  transform: scale(1.1);
}

.compartir {
  padding: 38px 10%;
  background-color: #C1D7AE;
}

.album {
  background-color: white;
}

.album-fotos {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.2500%;
  padding-bottom: 0;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  will-change: transform;
}

.confirmacion {
  padding: 30px 10%;
  background-color: #FFCAB1;
}


.confirmacion-icono {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (orientation: landscape) {
  .logo {
    z-index: 1;
    height: 40%;
    padding-top: 0;
  }

  .versiculo,
  .participantes,
  .invitacion {
    padding: 5% 0;
  }

  .icono-biblia img {
    max-width: 10%;
    height: auto;
  }

  .novios {
    font-size: 500%;
  }

  .conector-novios {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 40px;
    display: grid;
    align-items: center;
  }

  .padres {
    margin-top: 10px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    text-align: center;
  }

  .detalle-padres {
    width: 40%;
  }

  .detalle-padres p {
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    width: 50%;
  }

  .icono-waze img {
    max-width: 5%;
    height: auto;
  }

  .ubicacion-waze {
    margin: 4px 40%;
    padding: 8px 0;
  }

  .vestimenta {
    padding: 3% 0;
  }

  .icono-vestimenta img {
    max-width: 30%;
    height: auto;
  }

  .icono-regalo img {
    max-width: 10%;
    height: auto;
  }

  .album-contenedor {
    padding: 0px 20%;
  }

  .compartir img {
    max-width: 6%;
    height: auto;
  }

  .calendario img {
    max-width: 40%;
    height: auto;
  }

}

@media (orientation: portrait) {
.musica{
  padding-top: 15%;
}

  .logo {
    z-index: 1;
    height: 40%;
    padding-top: 5%;
  }

  .icono-biblia img {
    max-width: 30%;
    height: auto;
  }

  .novios {
    font-size: 12vw;
  }

  .conector-novios {
    padding-left: 3%;
    padding-right: 3%;
    font-size: xx-large;
    display: grid;
    align-items: center;
  }

  .padres {
    margin-top: 10px;
    width: 100%;
    padding: 0px 0px 10px 0px;
    font-size: small;
    text-align: center;
  }

  .detalle-padres {
    width: 40%;
  }

  .detalle-padres p {
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    width: 50%;
  }

  .icono-waze img {
    max-width: 20%;
    height: auto;
  }

  .ubicacion-waze {
    margin: 4px 25%;
    padding: 8px 0;
  }

  .icono-vestimenta img {
    max-width: 75%;
    height: auto;
  }

  .icono-regalo img {
    max-width: 40%;
    height: auto;
  }

  .compartir img {
    max-width: 25%;
    height: auto;
  }

  .confirmacion-icono img {
    max-width: 20%;
    height: auto;
  }

  .calendario img {
    max-width: 90%;
    height: auto;
  }

}

/* 


----------------------------------
@media (orientation: landscape) {

    

    .ubicacion-icono img {
        max-width: 10%;
        height: auto;
    }

    .vestimenta-icono img {
        max-width: 20%;
        height: auto;
    }

}

------------------------------
@media (orientation: portrait) {

    

    .ubicacion-icono img {
        max-width: 20%;
        height: auto;
    }

    .vestimenta-icono img {
        max-width: 40%;
        height: auto;
    }

} */