@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    /* el color de fonddo de la imagen es #faf7f7 */
    background-color: #faf7f7;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
    text-align: center;
}

#botonMusica {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#encabezado {
    background-image: url('/img/logoJD.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    top: 0;
}




#novios {
    background-color: #467942;
    color: #fff;
    text-align: center;
    font-family: "Georgia", serif;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #467942;
    font-family: "Georgia", serif;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* Estilos para el título del contador */
.contador-titulo {
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Estilos para el contenedor del temporizador */
.contador-timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para cada elemento del contador (días, horas, minutos, segundos) */
.contador-item {
    text-align: center;
    margin: 0 15px;
}

/* Estilos para los números */
.contador-item span:first-child {
    font-size: 48px;
    font-weight: bold;
    display: block;
}

/* Estilos para las etiquetas (días, horas, minutos, segundos) */
.label {
    color: #6f886d;
    font-size: 10px;
}

.foto147 {
    background-image: url('/img/FotoJD147.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    top: 0;
}

.participantes {
    flex-direction: row;
    color: #467942;
    font-family: "Georgia", serif;
    margin-bottom: 30px;
    margin-top: 40px;

}

.participantes-titulo {
    font-size: 16px;
    font-weight: normal;
    font-size: medium;
    text-align: center;
    padding-bottom: 10px;
}


.novios {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.versiculo {
    background-color: #E7B2A4;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.versiculo-texto {
    max-width: 600px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.icono-biblia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitacion {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0;
    text-align: center;
    color: #467942;
    font-size: 25px;
}

.invitacion-texto {
    padding: 0 5%;
}


.invitacion-fecha {
    font-family: 'Great Vibes', cursive;
    font-size: 34px;
    padding-bottom: 5px;
}

.calendario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacion {
    text-align: center;
    padding: 20px 0px;
}

.ubicacion-titulo {
    background-color: #467942;
    color: #fff;
    font-family: "Georgia", serif;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ubicacion-nombre {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.ubicacion-lugar {
    padding: 18px;
    font-size: 20px;
    color: #467942;
}

.ubicacion-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ubicacion-waze {
    background-color: #467942;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
}

.ubicacion-waze:hover {
    transform: scale(1.1);
}

.icono-regalo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regalos {
    padding: 20px 5%;
    font-size: 20px;
    background-color: #E7B2A4;
}

.link-cemaco {
    background-color: #467942;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 22px;
}

.link-cemaco:hover {
    transform: scale(1.1);
}

.vestimenta {
    padding: 20px 10%;
    font-size: 20px;
}

.vestimenta-titulo {
    font-family: "Georgia", serif;

}

.album{
    background-color: white;
}

.album-titulo {
    background-color: #467942;
    color: #fff;
    font-family: "Georgia", serif;
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.album-fotos {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.2500%;
    padding-bottom: 0;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    will-change: transform;
}

.confirmacion {
    padding: 30px 20px;
    font-size: 20px;
    margin: 0px;
    background-color: #E7B2A4;
}

.confirmacion-titulo {
    font-family: "Georgia", serif;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}



.confirmacion-icono {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-confirmacion {
    background-color: #467942;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 22px;
}

.link-confirmacion:hover {
    transform: scale(1.1);
}







@media (orientation: landscape) {

    .novios {
        font-size: 80px;
    }

    .conector-novios {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 40px;
        display: grid;
        align-items: center;
    }

    .padres {
        margin-top: 10px;
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 10px;
        text-align: center;
    }

    .detalle-padres {
        width: 50%;
    }

    .detalle-padres p {
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        width: 50%;
    }

    .icono-biblia img {
        max-width: 10%;
        height: auto;
    }

    .calendario img {
        max-width: 40%;
        height: auto;
    }

    .ubicacion-icono img {
        max-width: 10%;
        height: auto;
    }

    .icono-regalo img {
        max-width: 20%;
        height: auto;
    }

    .vestimenta-icono img {
        max-width: 20%;
        height: auto;
    }


    .album-contenedor{
        padding: 0px 20%;
    }


    .confirmacion-icono img {
        max-width: 10%;
        height: auto;
    }

}

@media (orientation: portrait) {

    .novios {
        font-size: 15vw;
    }


    .conector-novios {
        padding-left: 3%;
        padding-right: 3%;
        font-size: xx-large;
        display: grid;
        align-items: center;
    }


    .padres {
        margin-top: 10px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10px;
        text-align: center;
    }

    .detalle-padres {
        width: 50%;
    }

    .detalle-padres p {
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        width: 50%;
    }

    .icono-biblia img {
        max-width: 30%;
        height: auto;
    }

    .calendario img {
        max-width: 90%;
        height: auto;
    }

    .ubicacion-icono img {
        max-width: 20%;
        height: auto;
    }

    .icono-regalo img {
        max-width: 40%;
        height: auto;
    }

    .vestimenta-icono img {
        max-width: 40%;
        height: auto;
    }

    .confirmacion-icono img {
        max-width: 20%;
        height: auto;
    }

}