@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Montserrat:ital,wght@0,300;1,300&display=swap");

/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal; 
}*/

/* .carattere-regular {
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-style: normal;
} */

body {
  /*   background-color: #ebebd3; */
  background-color: #ecdcb0;
  color: #968e85;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
  text-align: center;
}

.portada {
  height: 100vh;
  overflow: hidden;
  color: white;
}

.portada::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/portadaJD_900.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(5px); /* Aplica el difuminado */
  z-index: -1; /* Coloca el pseudo-elemento detrás de los demás elementos */
}

.portada-contenido {
  display: contents;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px black;
}

.musica {
  padding-top: 5px;
  width: 100%;
  font-size: small;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px 4px black;
}

.logo {
  z-index: 1;
  height: 40%;
  padding-top: 5%;
  filter: drop-shadow(2px 2px 4px black);
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;
  margin-top: 40px;
}

.contador-titulo {
  font-size: 14px;
  font-weight: normal;

  margin-top: 0;
  margin-bottom: 20px;
}

.contador-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contador-item {
  text-align: center;
  margin: 0 15px;
}

.contador-item span:first-child {
  font-size: 48px;
  font-weight: bold;
  display: block;
}

.label {
  font-size: 10px;
}

.versiculo {
  background-color: #ffcab1;
  font-size: 18px;
  padding: 10% 0;
}

.versiculo-texto {
  max-width: 600px;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.icono-biblia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.participantes {
  background-color: white;
  flex-direction: row;
  padding: 10% 5% 10% 5%;
}

.participantes-titulo {
  font-size: 16px;
  font-weight: normal;
  font-size: medium;
  text-align: center;
  padding-bottom: 10px;
}

.novios {
  font-family: "Carattere", cursive;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (orientation: landscape) {
  .logo {
    z-index: 1;
    height: 40%;
    padding-top: 5%;
  }

  .versiculo{
    padding: 5% 0;
  }

  .participantes{
    padding: 5%;
  }

  .icono-biblia img {
    max-width: 10%;
    height: auto;
  }

  .novios {
    font-size: 500%;
  }

  .conector-novios {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 40px;
    display: grid;
    align-items: center;
  }

  .padres {
    margin-top: 10px;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10px;
    text-align: center;
  }

  .detalle-padres {
    width: 50%;
  }

  .detalle-padres p {
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    width: 50%;
  }
}

@media (orientation: portrait) {
  .logo {
    z-index: 1;
    height: 40%;
    padding-top: 30%;
  }

  .icono-biblia img {
    max-width: 30%;
    height: auto;
  }

  .novios {
    font-size: 12vw;
}

  .conector-novios {
    padding-left: 3%;
    padding-right: 3%;
    font-size: xx-large;
    display: grid;
    align-items: center;
  }

  .padres {
    margin-top: 10px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    text-align: center;
  }

  .detalle-padres {
    width: 50%;
  }

  .detalle-padres p {
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    width: 50%;
  }
}

/* #novios {
    background-color: #467942;
    color: #fff;
    text-align: center;
    font-family: "Georgia", serif;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.participantes {
    flex-direction: row;
    color: #467942;
    font-family: "Georgia", serif;
    margin-bottom: 30px;
    margin-top: 40px;
}

.participantes-titulo {
    font-size: 16px;
    font-weight: normal;
    font-size: medium;
    text-align: center;
    padding-bottom: 10px;
}


.novios {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.invitacion {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0;
    text-align: center;
    color: #467942;
    font-size: 25px;
}

.invitacion-texto {
    padding: 0 5%;
}


.invitacion-fecha {
    font-family: 'Great Vibes', cursive;
    font-size: 34px;
    padding-bottom: 5px;
}

.calendario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacion {
    text-align: center;
    padding: 20px 0px;
}

.ubicacion-titulo {
    background-color: #467942;
    color: #fff;
    font-family: "Georgia", serif;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ubicacion-nombre {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.ubicacion-lugar {
    padding: 18px;
    font-size: 20px;
    color: #467942;
}

.ubicacion-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ubicacion-waze {
    background-color: #467942;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
}

.ubicacion-waze:hover {
    transform: scale(1.1);
}

.icono-regalo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regalos {
    padding: 20px 5%;
    font-size: 20px;
    background-color: #E7B2A4;
}

.link-cemaco {
    background-color: #467942;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 22px;
}

.link-cemaco:hover {
    transform: scale(1.1);
}

.vestimenta {
    padding: 20px 10%;
    font-size: 20px;
}

.vestimenta-titulo {
    font-family: "Georgia", serif;

}

.album{
    background-color: white;
}

.album-titulo {
    background-color: #467942;
    color: #fff;
    font-family: "Georgia", serif;
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.album-fotos {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.2500%;
    padding-bottom: 0;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    will-change: transform;
}

.confirmacion {
    padding: 30px 20px;
    font-size: 20px;
    margin: 0px;
    background-color: #E7B2A4;
}

.confirmacion-titulo {
    font-family: "Georgia", serif;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}



.confirmacion-icono {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-confirmacion {
    background-color: #467942;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 22px;
}

.link-confirmacion:hover {
    transform: scale(1.1);
}






----------------------------------
@media (orientation: landscape) {

    .novios {
        font-size: 80px;
    }

    .conector-novios {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 40px;
        display: grid;
        align-items: center;
    }

    .padres {
        margin-top: 10px;
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 10px;
        text-align: center;
    }

    .detalle-padres {
        width: 50%;
    }

    .detalle-padres p {
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        width: 50%;
    }

    .icono-biblia img {
        max-width: 10%;
        height: auto;
    }

    .calendario img {
        max-width: 40%;
        height: auto;
    }

    .ubicacion-icono img {
        max-width: 10%;
        height: auto;
    }

    .icono-regalo img {
        max-width: 20%;
        height: auto;
    }

    .vestimenta-icono img {
        max-width: 20%;
        height: auto;
    }


    .album-contenedor{
        padding: 0px 20%;
    }


    .confirmacion-icono img {
        max-width: 10%;
        height: auto;
    }

}

------------------------------
@media (orientation: portrait) {

    .novios {
        font-size: 15vw;
    }


    .conector-novios {
        padding-left: 3%;
        padding-right: 3%;
        font-size: xx-large;
        display: grid;
        align-items: center;
    }


    .padres {
        margin-top: 10px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10px;
        text-align: center;
    }

    .detalle-padres {
        width: 50%;
    }

    .detalle-padres p {
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        width: 50%;
    }

    .icono-biblia img {
        max-width: 30%;
        height: auto;
    }

    .calendario img {
        max-width: 90%;
        height: auto;
    }

    .ubicacion-icono img {
        max-width: 20%;
        height: auto;
    }

    .icono-regalo img {
        max-width: 40%;
        height: auto;
    }

    .vestimenta-icono img {
        max-width: 40%;
        height: auto;
    }

    .confirmacion-icono img {
        max-width: 20%;
        height: auto;
    }

} */
